<!-- Exercises Cart -->
<div class="exercises-length">
    <div #addExerciseEffect class="add-effect"></div>
    @if(routine() && routine()!.length > 0) {
        <div (click)="toggleOptions('open')" class="cart-container">
            <icon-dumbbell [width]="'30'" [height]="'30'"/>
            <span>{{ routine()?.length }}</span>
        </div>
    }
</div>

<!-- Modal -->
@if(openModal()) {
    <div class="modal-backdrop" (click)="toggleOptions('close')"></div>

    <div class="modal-container">
        <icon-cross (click)="toggleOptions('close')"/>
        
        @if(!calendarModal()) {
            <input type="text" [(ngModel)]="routineName" class="modal-input" placeholder="Nombre de la rutina (opcional)" />
            
            <div class="exercises-list-container">
                @for(exercise of routine(); track $index) {
                    <div class="exercise-card">
                        <div class="card-left">
                            <img [src]="exercise.gifUrl" alt="{{ exercise.name }}" />
                            <div class="info-card">
                                <h3>{{ exercise.name | truncate:20 }}</h3>
                            </div>
                        </div>
                        <icon-trash-can class="btn-delete" (click)="removeExercise(exercise)"/>
                    </div>
                }
            </div>
            
            <div class="modal-buttons">
                <button class="btn primary" (click)="createWorkoutFlow()">Entrenar</button>
                <button class="btn secondary" (click)="openModalCalendarFlow()">Programar en fecha</button>
                <button class="btn tertiary" (click)="onlyCreateRoutine()">Solo guardar</button>
            </div>
        }

        @else {
            <div class="calendar-modal-container">
                <input type="date" [(ngModel)]="routineDate">
                <div class="modal-buttons">
                    <button class="btn primary" (click)="createCalendarFlow()">Guardar</button>
                </div>
            </div>
        }

    </div>
}