
section {
  width: 90%;
  margin: auto;
  position: relative;
}

.muscle-dropdown-header {
  display: flex;
  gap: .7rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 5px 0;
  background-color: #1f1f1f;
  border-radius: 20px;
  color: var(--color-text);
  font-size: .9rem;
  font-weight: 400;
  transition: width .3s;
  text-wrap: nowrap;

  svg {
    padding-left: .6rem;
  }
  
}

.btn-cancel {
  position: absolute;
  top: 0px;
  right: 2px;
}

.remove-border-radius {
  color: #474747;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdown-menu {
  position: relative;
  background-color: #1f1f1f;
  width: 100%;
  height: 0px;
  opacity: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: .5rem;
  overflow: hidden;
}

.dropdown-menu li {
  color: #f2f2f2;
  font-weight: 400;
  list-style: none;
}

.dropdown-menu li:hover {
  color: var(--color-primary);
}

// /* Simple fade-slide animation */
.animated {
  animation: fadeSlide 200ms forwards;
}

.width-decrement {
  width: 85%;
}

.fadeIn {
  animation: fadeInBtn 200ms forwards;
}


@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    height: fit-content;
  }
}

@keyframes fadeInBtn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
