<div class="workout-screen">

    <!-- SPLASH FINISH ROUTINE -->
    @if(finishRoutine()) {
        <div #sessionCompleteRef class="session-complete">
            <h2 class="message">¡Sesión completada!</h2>
        </div>
    }

    <!-- NOT ROUTINE -->
    @if(!routine()) {
        <h1 class="not-routine-title">No tenes ninguna rutina programada para el dia de hoy.</h1>
        <div class="btn-container">
            <button (click)="navigateBy('created-routine')">Elegir rutina</button>
            <button (click)="navigateBy('explore-exercises')">Crear rutina</button>
        </div>
    }

    @else {
        <!-- @if(finishRoutine()) { -->
        @if(false) {
            <section class="finish-details">
                <div class="exercise-title">
                    <h2>{{( routine()!.name )}}</h2>
                </div>
            
                <div class="??">
                    @for (exercise of exercises(); track $index) {
                    <div class="??">
                        <div class="card-left">
                            <div class="info-card">
                                <h3>* {{ exercise.name }}</h3>
                                <p>|--{{ exercise.secondaryMuscles }}</p>
                            </div>
                        </div>
                    </div>
                    }
                    <span>Tiempo: </span>
                </div>
            </section>
        }


    @if(isTraining() && !listExerciseOpen()) {
    <!-- EXERCISE INFO -->
    <section class="exercise-info">
        <div class="exercise-title">
            <span>{{( routine()!.name )}}</span>
            <h2>{{ currentExercise().name | titlecase }}</h2>
        </div>
        <div class="exercise-image">
            <img [src]="currentExercise().gifUrl" alt="{{ currentExercise().name }}" />
            <div class="glass-display"></div>
        </div>
    </section>

    <!-- CONTROLS -->
    <section class="workout-controls">
        <div class="timer">
            <span>{{ displayTime() | formatTime }}</span>
        </div>
        <div class="info-top">
            <div class="set">
                <span>{{ currentIndex() + 1 }}/{{ exercises().length }}</span>
            </div>
            <div class="elapsed">
                <span #percentage>{{ progressPercentage() | formatPercentage }}</span>
            </div>
        </div>

        <div class="progress-container">
            <div class="progress-bar" [style.width.%]="progressPercentage()"></div>
        </div>

        <div class="controls">
            <button
                class="btn-arrow"
                (click)="previousExercise()"> 
                {{ '⮜' }}
            </button>

            <button
                class="btn-timer-control"
                [ngClass]="{ 'btn-last-exercise': itsTheLastExercise() }"
                (click)="toggleTimer()"> 
                {{ ( isRunning() ? '❚❚' : '▶' ) }}
            </button>

            @if(!itsTheLastExercise()) {
                <button
                    class="btn-arrow"
                    (click)="nextExercise()"> 
                    {{ '⮞' }}
                </button>
            }

            @else {   
                <icon-check [width]="46" [height]="46" (click)="nextExercise()" />
            }

        </div>
    </section>
    }

    <!-- ROUTINE -->
    <section class="container-routine">

        @if(!isTraining()) {
        <div class="start-training">
            <h1>Comenzar rutina</h1>
            <button class="play-button" (click)="startRoutine()">▶</button>
        </div>
        }

        @if(isTraining()) {
        <div class="arrow-btn">
            @if(listExerciseOpen()) {
            <app-arrow-button [color]="'#00ff6a'" [size]="55" [iconUp]="false" (action)="toggleListExercise()" />
            }
            @else {
            <app-arrow-button [color]="'#00ff6a'" [size]="55" [iconUp]="true" (action)="toggleListExercise()" />
            }
        </div>
        }

        <div class="routine">
            @for (exercise of exercises(); track $index) {
            <div class="exercise-card">
                <div class="card-left">
                    <img [src]="exercise.gifUrl" alt="{{ exercise.name }}" />
                    <div class="info-card">
                        <h3>{{ exercise.name | truncate: 14 }}</h3>
                        <p>{{ exercise.secondaryMuscles | truncateArray }}</p>
                    </div>
                </div>
                <div class="btn-delete" (click)="removeExercise(exercise)">
                    <icon-trash-can [width]="'24'" [height]="'24'"/>
                </div>
            </div>
            }
        </div>
    </section>
    }

</div>


