.workout-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100dvh;
    color: white;
    font-family: sans-serif;

    .exercise-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        color: #000;

        .exercise-image {
            flex: 1.5;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }

    .workout-controls {
        position: relative;
        top: -30px;
        background-color: var(--color-background-secondary);
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .timer {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            font-size: 2.5rem;
            font-weight: 900;
            letter-spacing: 1px;
            color: #4caf50;
        }

        .info-top {
            display: flex;
            justify-content: space-between;
            font-size: 1.2rem;
            color: #ccc;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }
        
        .progress-container {
            width: 100%;
            height: 2px;
            border-radius: 5px;
            background-color: #eee;
            overflow: hidden;
            margin-bottom: 1rem;
        }

        .progress-bar {
            height: 100%;
            background-color: #4caf50;
            transition: width 0.3s ease-in-out;
        }

        .controls {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
    }


    .container-routine {
        position: relative;
        top: -30px;
        background-color: #000;
        width: 100%;
        overflow: scroll;
        padding-bottom: 2rem;

        .start-training {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 1rem 0;
            padding-top: 30px;
        }

        .arrow-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 30px;
        }

        .routine {
            padding: 1rem;

            .exercise-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                height: 120px;
                width: 100%;

                .card-left {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    img {
                        height: 5rem;
                        border-radius: .3rem;
                    }

                    .info-card {

                        h3 {
                            font-size: 1rem;
                        }

                        p {
                            font-size: .8rem;
                        }
                    }
                }

            }
        }

    }

}