.exercise-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 16px;
  background-color: var(--color-background);

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.exercise-card {
  position: relative;
  background-color: var(--color-background-secondary);
  border-radius: 10px;
  box-shadow: 2px 4px -8px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  color: var(--color-text);
  border: solid 1px var(--color-line);
  display: flex;
  justify-content: space-between;
  transition: transform 4s ease, box-shadow 0.3s ease;
  will-change: transform;

  &.selected {
    outline: 1px solid var(--color-secondary);
    background-color: var(--color-background-tertiary);
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }

  .exercise-image {
    width: 35%;
    object-fit: contain;
    background-color: var(--color-text);
    margin: 5px;

    border-radius: 1px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  }

  .exercise-content {
    padding: 16px;

    .exercise-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 8px;
      text-transform: capitalize;
    }

    p {
      margin: 4px 0;
      font-size: 1rem;
    }

    .instructions-label {
      margin-top: 12px;
      font-weight: 600;
    }

    .instructions-list {
      list-style: disc;
      margin-left: 20px;
      font-size: 0.85rem;

      li {
        margin-bottom: 4px;
      }
    }
  }
}

.animated {
  animation: fadeOut .3s forwards;
}

@keyframes fadeOut {
  from {
    margin: auto;
    width: 100%;
    height: 100%;
  }
  to {
    margin: auto;
    width: 0px;
    height: 0px;
  }
}

// PAGINATION
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;

  button {
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-background-secondary);
    color: var(--color-text);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background-color: var(--color-secondary);
      color: white;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
