<div class="exercise-grid">

  @for (exercise of paginatedExercises(); track exercise.id) {
    <div class="exercise-card" [ngClass]="{ 'animated': selectedIndex === exercise.id }">
      
      <div class="exercise-content">
        <h3 class="exercise-title">{{ exercise.name | truncate:20 }}</h3>
        <p>{{ exercise.target }}</p>
      </div>

      <icon-plus (click)="selectedExercise(exercise)"/>

      <img  class="exercise-image" [src]="exercise.gifUrl" alt="{{ exercise.name }}" />
    
    </div>
  }

</div>

@if(paginatedExercises().length > 0) {
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage() === 1">
      <icon-arrow-left [color]="'#1db954'"/>
    </button>

    @for(page of pages(); track $index) {
    <ng-container>
      @if (typeof page === 'number') {
      <button (click)="goToPage(page)" [class.active]="page === currentPage()">
        {{ page }}
      </button>
      }
      @if(page === '...') {
      <span>{{ page }}</span>
      }
    </ng-container>
    }

    <button (click)="nextPage()" [disabled]="currentPage() === totalPages()">
      <icon-arrow-right [color]="'#1db954'"/>
    </button>
  </div>
}