@if(selectedInfoIndex()) {
  <div class="overlay" (click)="clearSelection()"></div>
}

@for (exercise of paginatedExercises(); track exercise.id) {
  <div
    class="exercise-card"
    [class.expanded]="selectedInfoIndex() === exercise.id"
    [class.animated]="addSelectedExerciseIndex === exercise.id"
    [class.card-hidden]="selectedInfoIndex() !== null && selectedInfoIndex() !== exercise.id"
    #card
  >
    @if(selectedInfoIndex() === exercise.id) {
      <button class="close-btn" (click)="clearSelection()"> ✖ </button>
    }

    <img
      class="exercise-image"
      [src]="exercise.gifUrl"
      alt="{{ exercise.name }}"
    />

    <div class="exercise-content">
      <div class="exercise-title">
        <h3>{{ exercise.name | truncate: 29 }}</h3>
      </div>
      <p>{{ exercise.target }}</p>
    </div>
    
    @if (!onFocus()) {
      <icon-dumbbell-plus (click)="selectedExercise(exercise)" /> 
      <icon-info (click)="selectExercise(exercise, card)" />
    }

    @if (onFocus()) {
      <div class="instruction-container">
        @for (line of exercise.instructions; track $index) {
          <p class="line-instruction">{{ line }}</p>
        }
      </div>
    }
  </div>
}



<!-------- PAGINATION -------->
@if(paginatedExercises().length > 0) {
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage() === 1">
      <icon-arrow-left [color]="'#1db954'"/>
    </button>

    @for(page of pages(); track $index) {
    <ng-container>
      @if (typeof page === 'number') {
      <button (click)="goToPage(page)" [class.active]="page === currentPage()">
        {{ page }}
      </button>
      }
      @if(page === '...') {
      <span>{{ page }}</span>
      }
    </ng-container>
    }

    <button (click)="nextPage()" [disabled]="currentPage() === totalPages()">
      <icon-arrow-right [color]="'#1db954'"/>
    </button>
  </div>
}