<div class="exercise-grid">

  @for (exercise of exercises(); track $index) {
    <div
      class="exercise-card"
      [class.selected]="isSelected(exercise)"
      (click)="toggleSelection(exercise)"
      >

      <div class="checkbox-wrapper">
        <input type="checkbox" [checked]="isSelected(exercise)" />
      </div>

      <img [src]="exercise.gifUrl" alt="{{ exercise.name }}" class="exercise-image" />

      <div class="exercise-content">
        <h3 class="exercise-title">{{ exercise.name }}</h3>
        <p><strong>Grupo principal:</strong> {{ exercise.target }}</p>
      </div>

    </div>
  }

</div>
