.exercise-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  background-color: var(--color-background-secondary);
  border-radius: 10px;
  width: 360px;
  height: 180px;
  display: flex;
  align-items: center;
  transition: 0.5s;

  .background-transform {
    position: absolute;
    top: 0;
    right: -50px;
    width: 80%;
    height: 100%;
  }

}

.background-transform::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
  // clip-path: circle(120px at center);
  clip-path: circle(50px at 20px 100px);
  transition: 0.5s;
}

.card:hover .background-transform:before {
  background-color: rgb(16, 211, 237);
  clip-path: circle(400px at center);
}

.card img {
  position: absolute;
  top: 50%;
  right: -4rem;
  transform: translate(-50%, -50%);
  height: 160px;
  border-radius: 12px;
  transition: 0.5s;
}

.card:hover img {
  top: -10%;
  height: 250px;
  border-radius: 10px;
}

.card .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .content h3 {
  color: #ccc;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
}

.card .content p {
  color: #ccc;
}
















.exercise-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 16px;
  // background-color: var(--color-background);

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.exercise-card {
  position: relative;
  background-color: var(--color-background-secondary);
  border-radius: 10px;
  box-shadow: 2px 4px -8px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  color: var(--color-text);
  border: solid 1px var(--color-line);
  display: flex;
  justify-content: space-between;
  transition: transform 4s ease, box-shadow 0.3s ease;
  will-change: transform;

  .exercise-content {

    .exercise-title {
      margin: .7rem 0 0 .7rem;
      font-size: 1.1rem;
      font-weight: 500;
      text-transform: capitalize;
    }

    p {
      margin: 0 0 0 .7rem;
      font-size: .9rem;
      font-weight: 300;
      color: #a3a3a3;
    }

    .instructions-label {
      margin-top: 12px;
      font-weight: 600;
    }

    .instructions-list {
      list-style: disc;
      margin-left: 20px;
      font-size: 0.85rem;

      li {
        margin-bottom: 4px;
      }
    }
  }

  icon-plus {
    position: absolute;
    bottom: .5rem;
    left: .7rem;
    color: #000;
    width: 28px;
    height: 28px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    transform: scale(.8);
  }

  .exercise-image {
    width: 32%;
    object-fit: contain;
    background-color: var(--color-text);
    border-radius: 1px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
  }

}

.animated {
  animation: fadeOut .3s ease-in;
}

@keyframes fadeOut {
  from {
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
  }

  to {
    margin: 0 auto 0 auto;
    width: 0px;
    height: 0px;
  }
}

// PAGINATION
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
  color: #ccc;

  button {
    padding: 6px 10px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-text);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background-color: var(--color-secondary);
      color: #000;
    }
  }

}