@if (exercises.length) {
  <div>
    <h2>Ejercicios para {{ selectedBodyPart }}</h2>
    <ul>
      @for (exercise of exercises; track $index) {
        <li>
          <h3>{{ exercise.name }}</h3>
          <img [src]="exercise.gifUrl" alt="{{ exercise.name }}" />
          <p><strong>Equipamiento:</strong> {{ exercise.equipment }}</p>
          <p><strong>Instrucciones:</strong></p>
          <ul>
            @for (instruction of exercise.instructions; track $index) {
              <li>{{ instruction }}</li>
            }
          </ul>
        </li>
      }
    </ul>
  </div>
}