
.muscle-dropdown {
  width: 88%;
  margin: auto;
  background-color: #1e1e1e;
  // background: #1f1f1f;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease;


  .muscle-dropdown-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    
    svg {
      color: #8f8989;
    }
    
    span {
      color: #8f8989;
      font-weight: 500;
    }
  }

  .muscle-option {
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;

    &:hover {
      background: #3a3a3a;
    }
  }
}
