

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0b0b0c;
    border-top: 1px solid #ddd;
    font-size: 14px;

    a {
        color: #ccc;
        font-weight: 400;
        text-decoration: none;
        &.active {
        color: #007bff;
        font-weight: bold;
        }
    }
}
