<section>

    <h2>Seguimiento semanal</h2>

    <div class="btn-container">
        <label class="file-upload">
            <input type="file" (change)="onFileSelected($event)" hidden />
            <span>📷 Subir foto semanal</span>
        </label>    
        <button (click)="upload()" [disabled]="!file()">Subir foto</button>
    </div>

    @if(photos().length > 0) {

        <h3>Galeria</h3>
        <div class="gallery-grid">
            
            @for (photo of photos(); track $index) {
                <div class="item">
                    <!-- <p>Semana {{ photo.weekNumber }} / {{ photo.year }}</p> -->
                    <img class="gallery-image" [src]="photo.imageBase64" alt="Foto semana {{ photo.weekNumber }}" />
                    <small>{{ photo.dateUploaded | date }}</small>
                </div>
            }
            
        </div>
    }

</section>