.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.item {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 10px;
  background: #fafafa;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
}
